/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
    .aim-item-container{
        grid-template-columns: 1fr 1fr;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    .aim-item-container{
        grid-template-columns: 1fr;
    }

    #project-timeline{
        grid-template-columns: 3px 1fr 1fr;
        grid-column-gap: 3px;
    }

    .timeline-middle{
        grid-area: 1/2;
    }
 }
