{% extends 'base.html' %}

{% block title %}
    <title>Create Blog | Admin</title>
{% endblock %}

{% block body %}
    {% include "components/navbar.html" %}
    <div class="container my-5">
        <h1 class="text-uppercase">Add Blog Post</h1>

        <form method="POST" action="/blog/create_blog" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="mb-4">
                {{ form.title.label }}
                {{ form.title(size=20, class="form-control rounded-0") }}
                {% if form.title.errors %}
                <ul class="text-danger">
                    {% for error in form.title.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="mb-4">
                {{ form.image.label }}
                {{ form.image(class="form-control rounded-0") }}
                {% if form.image.errors %}
                <ul class="text-danger">
                    {% for error in form.image.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="mb-4">
                {{ form.intro.label }}
                {{ form.intro(size=100, class="form-control rounded-0") }}
                {% if form.intro.errors %}
                <ul class="text-danger">
                    {% for error in form.intro.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="mb-4">
                {{ form.content.label }}
                {{ form.content }}
                {% if form.content.errors %}
                <ul class="text-danger">
                    {% for error in form.content.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {{form.submit(class="btn btn-lg rounded-0 btn-warning")}}
        </form>
    
    </div>

    {{ ckeditor.load() }}
    {{ ckeditor.config(name='content') }}

{% endblock %}