{% extends 'base.html' %}

{% block title %}
    <title>Blogs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog-style.css') }}">
{% endblock %}

{% block body %}
    {% include "components/navbar.html" %}
    <header class="masthead" style="background-image: url('https://startbootstrap.github.io/startbootstrap-clean-blog/assets/img/home-bg.jpg'); height: 300px;">
        <div class="container position-relative top-50 translate-middle-y text-white px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>All Blog</h1>
                        <span class="subheading">Get to know what we've put out</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container px-4 px-lg-5 text-dark">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {% for post in all_blogs  %}
                    <div class="post-preview">
                        <a href="/blog/{{post.slug}}">
                            <h2 class="post-title">{{ post.title }}</h2>
                            <h3 class="post-subtitle">{{ post.intro }}</h3>
                        </a>
                        <p class="post-meta">
                            Posted on
                            {{ post.date_posted.strftime("%d %B, %Y") }}
                        </p>
                    </div>
                    {% if user_is_authenticated %}
                      <form action="/blog/edit_blog/{{post.id}}" class="d-inline" method="get">
                        <button class="btn btn-warning text-white rounede-0" type="submit">Edit Blog</button>
                      </form>
                      <form action="/blog/delete_blog/{{post.id}}" class="d-inline ms-3" >
                        <button type="submit" class="text-warning border-0 bg-transparent align-bottom text-decoration-underline">delete</button>
                      </form>
                    {% endif %}
                    <hr class="my-4">
                {% endfor %}
                
            </div>
        </div>
    </div>


{% endblock %}