<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volluteer|Womengoals</title>


    <!----------------- bootstrap cdn ----------------->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>


    <link rel="stylesheet" href="../static/css/thanks.css" />
</head>

<body>

    <main class="h-100">

        <div class="vh-100 m-0">

            <div id="thanks-text">

                <p class="text-center">Sponsor /Donatae</p>

                <div id="bank-account-info" class="text-center">
                    <h2 class="account-number text-break">1130265289</h2>
                    <h4 class="account-bank">Polaris Bank</h4>
                    <p class="account-name">Mary J. Madueke</p>
                </div>

            </div>

            <div id="side-img-wrapper" class="bg-amber d-flex" >
                
                <div class="border border-dark w-100 h-100 d-flex justify-content-center align-items-center">

                    <div class="text-center">
                        <img class="justify-content-center" src="../static/assets/icons/thanks-thumbs.png" alt="">
                        <h1 >Thank You!</h1>
                    </div>
    

                </div>
               
            </div>

        </div>

    </main>
</body>

</html>