<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volluteer|Womengoals</title>


    <!----------------- bootstrap cdn ----------------->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>


    <link rel="stylesheet" href="../static/css/volunteer.css" />

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../static/js/join-form.js"></script>
</head>

<body>

    <main class="h-100">

        <div class="row h-100 m-0">

            <div class="col-12 col-md  flex">

                
                <form action="" id="volunteer-form" method="POST" role="form" class="mx-auto ">
                    <legend>Join other vollunteers today!</legend>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                
                    <div class="form-group">
                        <input type="text" class="form-control" id="" name="username" required placeholder="Full name">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="" name="phone" required placeholder="Phone number">
                    </div>

                    <div>
                        <select id="country" aria-label="Default select example" name="country" required>
                            <option selected value="Choose country">Choose country</option>
                        </select>
                        <div id="country-error-field" class="invalid-feedback">
                            Please provide a valid city.
                        </div>
                    </div>

                    <div>
                        <select id="state" name="state" aria-label="Default select example" disabled="true" required>
                            <option selected value="Choose state">Choose state</option>
                        </select>
                        <div id="state-error-field" class="invalid-feedback">
                            Please provide a valid city.
                        </div>
                    </div>

                    <div>
                        <select id="department" name="department" aria-label="Default select example" required>
                            <option selected value="Choose department">Choose departnment</option>
                            <option value="Communication team">Communication team</option>
                            <option value="Project management team">Project management team</option>
                            <option value="Walfare team">Walfare team</option>
                        </select>
                        <div id="department-error-field" class="invalid-feedback">
                            Please provide a valid city.
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea type="text" name="note" class="form-control" id="" placeholder="Have any concern? Please live us a note."></textarea>
                    </div>
                    
                
                    <button type="submit" class="btn btn-warning w-100 bg-amber rounded-0 ">Submit</button>
                </form>
                

            </div>

            <div id="side-img-wrapper" class="col-12 col-md  bg-amber d-none d-md-flex">
                
                <div class="border border-dark w-100 h-100 d-flex justify-content-center align-items-center">

                    <div class="text-center">
                        <img class="justify-content-center" src="../static/assets/img/volluteer.png" alt="">
                        <h1 >WELCOME VOLUNTEERS</h1>
                        <p class="mx-auto">Thank you for making this chioce of being a part of something amazing.
                            -womengoals</p>
                    </div>
    

                </div>
               
            </div>

        </div>

    </main>
    <script src="../static/js/volunteer.js"></script>
</body>

</html>