
<footer class="bg-dark border-top">
    <div class="container d-md-flex flex-wrap justify-content-between align-items-center py-3">
      
      <p class="col-md-4 mb-3 mb-md-0 text-center text-md-start">
        <img src="{{ url_for('static', filename='assets/icons/womengoal-icon.svg') }}" alt="Logo" width="45" height="45">
      </p>

    <p class="col-md-4 d-flex align-items-center justify-content-center mb-0 me-md-auto text-decoration-none text-white">
      Copyright, Womengoals 2022.
    </p>

    <ul id="footer-links" class="nav col-md-4 d-flex justify-content-center justify-content-md-end mb-5 mb-md-0">
      <li class="nav-item">
        <a href="https://www.linkedin.com/groups/9248022" target="_blank" class="nav-link px-2 text-muted">
        <img src="../static/assets/icons/linkedin-icon.png" alt="linkedin-link">
        </a>
      </li>
      <li class="nav-item">
        <a href="https://www.instagram.com/women_goals_initiative/" target="_blank" class="nav-link px-2 text-muted">
        <img src="../static/assets/icons/instagram.png" alt="instagram-link">
        </a>
      </li>
      <li class="nav-item">
        <a href="https://web.facebook.com/womengoal/" target="_blank" class="nav-link px-2 text-muted">
        <img src="../static/assets/icons/facebok-icon.png" alt="facebok-link">
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-muted" target="_blank">
        <img src="../static/assets/icons/youtube-icon.png" alt="youtube link`">
        </a>
      </li>
      <li class="nav-item">
        <a href="https://twitter.com/womengoals2?s=21&t=mZV_Fe4GYXUnBdQeKfZQdQ" target="_blank" class="nav-link px-2 text-muted">
        <img src="../static/assets/icons/twitter-icon.png" alt="twitter-link">
        </a>
      </li>
    </ul>
    </div>
  </footer>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">